:root {
  --logo-size: 80px;
  --small-text: 1.5rem;
  --mid-text: 4rem;
  --large-text: 11rem;
  --small-text-phone: 1rem;
  --mid-text-phone: 1.5rem;
  --large-text-phone: 3rem;
  --dark-purple: #290d33;
  --light-purple: #8844a0;
}
.text {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
}

.text-navbar {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
  transition: 0.5s;
}
html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.no-margin {
  margin: 0px;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  box-sizing: border-box;
  /* border: red 1px solid; */
}
html {
  position: relative;
}
.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display: flex;
}
.fancy-text {
  background: -webkit-linear-gradient(10deg, #690661, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.068);
  font-weight: 600;
  opacity: 1;
}
.headline-size-2 {
  font-size: clamp(var(--large-text-phone), 10vw, calc(var(--large-text) - 4rem));
  font-weight: 500;
  background: -webkit-linear-gradient(0deg, var(--dark-purple), var(--light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(10px 10px 8px #0000003b);
}
.headline-size-3 {
  font-size: clamp(calc(var(--mid-text) - 3rem), 3vw, calc(var(--mid-text) - 2rem));
  font-weight: 400;
  background: -webkit-linear-gradient(0deg, var(--dark-purple), var(--light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(10px 10px 8px #0000003b);
}
